.container {
  display: flex;
  flex: 1;
  margin-top: 10px;
  background-color: red;
}

.moments {
  display: flex;
  flex: 2;
  flex-direction: column;
  padding: 20;
  background-color: yellow;
  height: 80vh;
}

.filters {
  display: flex;
  flex: 1;
  background-color: greenyellow;
  padding: 20px;
}
